.view-page {
  padding: 30px 20px;
}

.view-page .items-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}


.no-results{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.no-results > img {
  width: 280px;
}

.no-results > p {
  font-size: 30px;
  font-weight: bold;
  color: #999;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}