.cart-page>ul.cart-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 30px;
}

.cartBottomRow {
  display: flex;
  justify-content: space-between;
}

.cartBottomRow > span {
  font-size: 18px;
  color: #666;
  font-weight: bold;
}